{% extends "dairy/base.html" %}

{% block title %}Dairy Django{% endblock %}

{% block content %}
  <h1>Farms Working with us</h1>
  {% for farm in farms %}
    <h2>
      <a href="{% url 'dairy:farm_detail' farm.id %}">
        {{ farm.name }}
      </a>
    </h2>
    <p class="date">
  Created {{ farm.created }} by
  {% for manager in farm.managers.all %}
    {{ manager.username }}{% if not forloop.last %}, {% endif %}
  {% empty %}
    No managers
  {% endfor %}
   </p>
{{ farm.description|truncatewords:30|linebreaks }}
  {% endfor %}
{% endblock %}
