<!-- farm_detail.html -->

{% extends 'base.html' %}

{% block title %}{{ farm.name }} - Dairy Bora {% endblock %}

{% block content %}
    <article>
        <header>
            <h2>{{ farm.name }}</h2>
            <p><strong>Manager:</strong> {{ farm.manager }}</p>
        </header>
        <section>
            {% if farm.slogan %}
                <p><strong>Slogan:</strong> {{ farm.slogan }}</p>
            {% endif %}

	    <!-- Link to view cows on the farm -->
	    <p><a href="{% url 'cow_list' slug=farm.slug %}">View Cows</a></p>
            
	    <p><strong>Description:</strong> {{ farm.description }}</p>
            <!-- Add more farm details as needed -->
        </section>
    </article>
{% endblock %}
