{% extends 'mashamba/base.html' %}

{% block content %}
  <h2 class="mt-4 mb-4">Farm Milk Records</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Cow</th>
        <th>Total Milk Yield (L)</th>
        <th>Total Milk Yield for Day (L)</th> <!-- New column for daily totals -->
      </tr>
    </thead>
    <tbody>
      {% for date, cows in sorted_grouped_milk_yield %}
        {% for cow in cows %}
          <tr>
            {% if forloop.first %}
              <td rowspan="{{ cows|length }}">{{ date }}</td>
            {% endif %}
            <td>{{ cow.cow }}</td>
            <td>{{ cow.total_yield|floatformat:2 }} L</td>
            {% if forloop.first %}
              <td rowspan="{{ cows|length }}">
                {% for daily_date, total in sorted_daily_totals %}
                  {% if daily_date == date %}
                    {{ total|floatformat:2 }} L
                  {% endif %}
                {% endfor %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

