{% extends 'mashamba/base.html' %}

{% block content %}
  <h2 class="mt-4 mb-4">Farm Milk Records</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Cow</th>
        <th>Milk Yield (L)</th>
      </tr>
    </thead>
    <tbody>
      {% for date_data in sorted_grouped_milk_yield %}
        {% for cow_data in date_data.cows %}
          <tr>
            {% if forloop.first %}
              <td rowspan="{{ date_data.cows|length }}">{{ date_data.date }}</td>
            {% endif %}
            <td>{{ cow_data.cow }}</td>
            {% for session in cow_data.sessions %}
              <td>{{ session.milk_yield }} L</td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

