<!-- farm_detail.html -->

{% extends 'mashamba/base.html' %}

{% block title %}{{ farm.name }} - Dairy Bora {% endblock %}

{% block content %}
    <article>
        <header>
            <h2>{{ farm.name }}</h2>
	     {% if farm.slogan %}
                <p><strong>Slogan:</strong> {{ farm.slogan }}</p>
            {% endif %}
            <p><strong>Manager:</strong> {{ farm.manager }}</p>
        </header>
        <section>

            <!-- Link to view cows on the farm -->

	    <!-- Go back to Dashboard link -->
	    <p>Located: {{farm.location}}</p>

            <p><strong>Description:</strong> {{ farm.description }}</p>
            <!-- Add more farm details as needed -->
        </section>
    </article>
{% endblock %}
